In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
import matplotlib as mpl
print (mpl.get_cachedir())

/Users/leka/.matplotlib

In [8]:
data = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/1d68c628a08cd5521ae70e976577568b/asset-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020+type@asset+block/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
379,tt1104001,170000000,400062763,TRON: Legacy,Garrett Hedlund|Jeff Bridges|Olivia Wilde|Bruc...,Joseph Kosinski,The Game Has Changed.,"Sam Flynn, the tech-savvy and daring son of Ke...",125,Adventure|Action|Science Fiction,Walt Disney Pictures|LivePlanet|Prana Studios|...,12/10/2010,6.3,2010
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1356,tt0430105,45000000,92374674,Four Brothers,Mark Wahlberg|Tyrese Gibson|AndrÃ© Benjamin|Ga...,John Singleton,They came home to bury mom... and her killer,Four adopted brothers return to their Detroit ...,109,Action|Crime,Paramount Pictures|Di Bonaventura Pictures,8/11/2005,6.6,2005
1469,tt0362120,45000000,178262620,Scary Movie 4,Anna Faris|Regina Hall|Craig Bierko|Bill Pullm...,David Zucker,Bury the grudge. Burn the village. See the saw.,Cindy finds out the house she lives in is haun...,83,Comedy,Dimension Films,4/13/2006,5.3,2006
1523,tt0462200,15000000,10903846,Black Snake Moan,Samuel L. Jackson|Christina Ricci|Justin Timbe...,Craig Brewer,To save his soul he must save hers.,A God-fearing bluesman takes to a wild young w...,116,Drama,Paramount Classics,12/8/2006,6.3,2006

In [9]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [401]:
answers = {} # создадим словарь для ответов

#сохраним значение переменной profit в отдельную колонку датасета для работы с понятиями "прибыль» и «убытки»
data['profit'] = data['revenue'] - data['budget']
 
# создадим новую колонку release_year для работы с годом выпуска
data['release_year'] = data.release_date.apply(lambda d: d[-4:])

# создадим новую колонку release_month для работы с месяцами и сезонами
data['release_month']=data1['month']
    
# создадим новую колонку  title_len для работы с длиной названия фильмов
data['title_len']=data.original_title.apply(lambda x: len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [355]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'#+
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [11]:
# можно добавлять разные варианты решения
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [356]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#!'поэтому' пишется слитно
answers['2'] = '2. Gods and Generals (tt0279111)'#+

In [12]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [357]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,15,305,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[(Jim Cummings, Travis Oates), (Jim Cummings, ..."

# 4. Какова средняя длительность фильмов?

In [358]:
answers['4'] = '2. 110' #+
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [359]:
answers['5'] = '1. 107' #+
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [360]:
#код получения столбца profit вынесла в Предобработку
answers['6'] = '5. Avatar (tt0499549)' #+
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,6,175,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[(Sam Worthington, Zoe Saldana), (Sam Worthing..."

# 7. Какой фильм самый убыточный?

In [361]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,386,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [362]:
answers['8'] = '1. 1478' #+
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [363]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+
#код для получения значений колонки release_year вынесла в Предобработку
mov2008=data[data.release_year == '2008']
mov2008[mov2008.revenue == mov2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,396,"[Christian Bale, Michael Caine, Heath Ledger, ...","[(Christian Bale, Michael Caine), (Christian B..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [364]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
mov1214=data[(data.release_year > '2012') & (data.release_year <='2014')]
mov1214[mov1214.profit == mov1214.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,386,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 11. Какого жанра фильмов больше всего?

In [365]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

mov_g = data.genres
genres = []
for g in mov_g:
    genres += g.split('|')
countg = Counter(genres).most_common(1)
countg

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [366]:
answers['12'] = '1. Drama'
profitm = data[data.profit > 0].genres
genres2 = []
for p in profitm :
    genres2 += p.split('|') # разделим по символу содержимое ячейчки
countp = Counter(genres2).most_common(1)
countp

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [367]:
answers['13'] = '5. Peter Jackson' #+
dir_rev=data.groupby(['director']).revenue.sum().sort_values(ascending=False)
dir_rev.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [368]:
answers['14'] = '1. Ridley Scott'
actions_dir = data[data.genres.str.contains('Action')].director
Counter(actions_dir).most_common(7)
# этот вопрос мы с мужем прорешали 3 разными способами и везде получили один и тот же ответ, но он неправильный
# как же так ))

[('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Robert Rodriguez', 6),
 ('Brett Ratner', 5),
 ('Zack Snyder', 5)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [369]:
answers['15'] = '3. Chris Hemsworth' #+
mov12 = data[data.release_year == '2012']
act_rev12={}

for i in range(len(mov12)): #создали цикл, который проходит по всем строчкам отсортированного массива
    movie=mov12.iloc[i] #переменная с данными строки из массива
    for actor in movie.cast.split('|'): #разбираем ячейку с актерами 
        if actor in act_rev12:
            act_rev12[actor]+=movie.revenue #складываем выручку фильма, если актер уже есть в словаре
        else:
            act_rev12[actor] = movie.revenue #если актера нет, записываем его имя и выручку фильма
act_rev12
sorted(act_rev12.items(), key = lambda x: x[1])[-1:]   #сортируем словарь

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [370]:
answers['16'] = '3. Matt Damon' #+
# бюджет выше среднего
mov_budget = data[data.budget > data.budget.mean()]
act_budget = []
for i in range(len(mov_budget)): #создали цикл, который проходит по всем строчкам отсортированного массива
    movie=mov_budget.iloc[i] #переменная с данными строки из массива
    for actor in movie.cast.split('|'): 
        act_budget+=[actor]
        #act_budget.append(actor)
Counter(act_budget).most_common(5)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [371]:
answers['17'] = '3. Action' #+
mov_NC = data[data.cast.str.contains('Nicolas Cage')].genres
genres_NC=[]
for m in mov_NC:
    genres_NC += m.split('|')
Counter(genres_NC).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [372]:
answers['18'] = '1. K-19: The Widowmaker'#+
mov_PP = data[data.production_companies.str.contains('Paramount Pictures')]
mov_PP[mov_PP.profit == mov_PP.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_len,casting,pairs
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,20,140,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[(Harrison Ford, Liam Neeson), (Harrison Ford,..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [373]:
answers['19'] = '5. 2015' #+
data.groupby(['release_year']).sum().sort_values('revenue', ascending=False)

,budget,revenue,runtime,vote_average,profit,release_month,title_len,overview_len
release_year,,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842,1601,32445
2014,7008050000,23405862953,13444,774.5,16397812953,854,1864,37270
2013,7970620000,23213799791,15039,846.9,15243179791,943,1925,40735
2012,7002000000,23079001687,12145,682.1,16077001687,724,1684,34861
2011,7946550531,22676791872,15355,868.5,14730241341,949,2199,45928
2010,7540000000,21071204961,13592,762.1,13531204961,860,1927,45018
2009,6838046652,20261791024,14187,800.2,13423744372,888,2012,40869
2008,6588900000,18252781990,12979,731.1,11663881990,847,1862,37862
2007,6596495000,18162406801,14305,809.3,11565911801,911,1948,36510
2004,6029250000,15663430720,12014,671.3,9634180720,736,1778,33810
2005,6327500000,15309425558,13387,733.5,8981925558,825,1861,36229
2006,6083965000,14775042320,13952,775.4,8691077320,910,1906,35598
2003,5117300000,14346123312,10623,574.4,9228823312,675,1551,29284
2002,5134000000,14136361487,11528,653.1,9002361487,751,1535,35195
2001,5067150000,13017764865,11284,619.8,7950614865,750,1485,30746
2000,4562700000,10664099805,9956,542.5,6101399805,632,1267,28380

# 20. Какой самый прибыльный год для студии Warner Bros?

In [374]:
answers['20'] = '1. 2014' #+
mov_WB = data[data.production_companies.str.contains('Warner Bros')]
mov_WB.groupby(['release_year']).sum().sort_values('profit',ascending=False)

,budget,revenue,runtime,vote_average,profit,release_month,title_len,overview_len
release_year,,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,89,176,4024
2007,982000000,3183675217,1721,95.4,2201675217,114,273,4834
2008,916000000,3050595031,1366,72.0,2134595031,81,149,3030
2010,1034000000,3008712985,1421,79.6,1974712985,92,201,5058
2011,974000000,2845393682,1248,68.3,1871393682,78,220,3220
2003,890000000,2745493377,1085,56.7,1855493377,81,178,3425
2009,915500000,2737954136,1305,67.9,1822454136,78,158,3316
2013,963500000,2599953400,1100,59.9,1636453400,47,114,4175
2004,1100000000,2731933725,1624,78.7,1631933725,91,194,4399
2005,861000000,2412980298,1193,63.0,1551980298,78,170,3450
2001,923000000,2266545668,1571,83.6,1343545668,97,222,4443
2012,611500000,1869520056,579,30.0,1258020056,33,70,1710
2002,680000000,1702709901,1281,70.6,1022709901,69,189,3039
2015,820800003,1691168351,1358,75.9,870368348,82,137,3573
2006,901000000,1521170743,1504,81.0,620170743,115,178,3335
2000,572900000,1025531386,1333,68.0,452631386,81,162,3210

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [375]:
answers['21'] = '4. Сентябрь'#+
date1=data['release_date'].str.split('/',expand=True) #разделили ячейки с датой на отдельную таблицу
date1.columns=['month','date','year'] 
date2=date1.month.value_counts(ascending = False)
date2

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [376]:
answers['22'] = '2. 450' #+
date1.month=pd.to_numeric(date1.month) # привели к типу int чтобы пользоваться операторами сравнения
summer=date1[(date1.month>5) & (date1.month<9)]

len(summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [377]:
answers['23'] = '5. Peter Jackson' #+
#код создания release_month вынесла в предобработку
# чтобы пользоваться операторами сравнения привели значение колонки к типу int
data.release_month=pd.to_numeric(data.release_month) 
winter=data[(data.release_month == 12) | (data.release_month < 3)]

dir_all_mov=data.director.value_counts().to_frame() # преобразовали серию в датафрейм
dir_all_mov.columns=['all'] #дали название колонке серии

winter_mov=winter.director.value_counts().to_frame() # преобразовали серию в датафрейм
winter_mov.columns=['winter'] #дали название колонке серии

dir_compare=pd.concat([dir_all_mov, winter_mov], axis=1).sort_values('winter', ascending=False) #соединили две таблицы
dir_compare

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

                               all  winter
Peter Jackson                    8     7.0
Steven Soderbergh               13     6.0
Clint Eastwood                  12     6.0
Adam Shankman                    8     4.0
Martin Scorsese                  6     4.0
Shawn Levy                      10     4.0
Nancy Meyers                     5     4.0
Edward Zwick                     4     3.0
Donald Petrie                    4     3.0
Steven Spielberg                10     3.0
Ridley Scott                    12     3.0
Tim Burton                       8     3.0
Marc Lawrence                    3     3.0
Rob Marshall                     4     3.0
Lasse HallstrÃ¶m                 7     3.0
Patrick Lussier                  3     3.0
Wayne Wang                       3     3.0
David S. Goyer                   3     2.0
Jaume Collet-Serra               5     2.0
Jason Reitman                    4     2.0
Rob Reiner                       3     2.0
Michael Mann                     5     2.0
Joe Carnahan                     3     2.0
David O. Russell                 3     2.0
Paul McGuigan                    4     2.0
Jason Friedberg|Aaron Seltzer    4     2.0
Joel Schumacher                  5     2.0
Scott Cooper                     3     2.0
Ron Howard                       8     2.0
Denzel Washington                2     2.0
...                            ...     ...
Tony Gilroy                      3     NaN
Tony Goldwyn                     1     NaN
Tony Scott                       6     NaN
Trey Parker                      1     NaN
Trish Sie                        1     NaN
Troy Duffy                       1     NaN
Troy Miller                      1     NaN
Troy Nixey                       1     NaN
Uli Edel                         1     NaN
Vic Armstrong                    1     NaN
Vicky Jenson                     1     NaN
Victor Salva                     2     NaN
Vipul Amrutlal Shah              1     NaN
Wally Pfister                    1     NaN
Walt Becker                      2     NaN
Walter Salles                    2     NaN
Werner Herzog                    2     NaN
Wes Ball                         2     NaN
Will Finn|John Sanford           1     NaN
William Brent Bell               1     NaN
William Dear                     1     NaN
William Friedkin                 3     NaN
William Malone                   1     NaN
William Monahan                  1     NaN
Wolfgang Petersen                3     NaN
Wong Kar-wai                     1     NaN
Woody Allen                      3     NaN
Xavier Gens                      1     NaN
Zack Snyder                      6     NaN
Zal Batmanglij                   1     NaN

[957 rows x 2 columns]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [378]:
answers['24']='5. Four By Two Productions' #+
# код создания title_len вынесла в предобработку
data[data.title_len == data.title_len.max()].production_companies.iloc[0]

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [379]:
answers[25]='3. Midnight Picture Show' #+
data['overview_len']=data.overview.apply(lambda x: len(x))
ov_lens={}
for i in range(len(data)): #создали цикл, который проходит по всем строчкам отсортированного массива
    movie=data.iloc[i] #переменная с данными строки из массива
    for c in movie.production_companies.split('|'):
        if c in ov_lens:
            ov_lens[c].append(len(movie.overview)) #запишем в словарь очередную длину описания по ключу соотв названию компании
        else:
            ov_lens[c]=[len(movie.overview)] #для компании которой еще нет в словаре запишем длину описания фильма
ov_means={}
for c, owl in ov_lens.items(): 
    ov_means[c]=sum(owl)/len(owl) #для каждого ключа посчитаем среднюю длину описания
sorted(ov_means.items(), key=lambda x: -x[1])[:5]

[('Midnight Picture Show', 1000.0),
 ('Room 9 Entertainment', 964.0),
 ('Brookwell-McNamara Entertainment', 936.0),
 ('Lions Gate Family Entertainment', 909.0),
 ('Crest Animation Productions', 909.0)]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [380]:
answers['26']='1. Inside Out, The Dark Knight, 12 Years a Slave' #+
data.sort_values('vote_average', ascending=False).original_title.head(len(data)//100) 

# Inside Out, The Dark Knight, 12 Years a Slave +
# BloodRayne, The Adventures of Rocky & Bullwinkle
# Batman Begins, The Lord of the Rings: The Return of the King, Upside Down
# 300, Lucky Number Slevin, Kill Bill: Vol. 1
# Upside Down, Inside Out, Iron Man

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [397]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'#+
from itertools import combinations # для того, чтобы разбить список на пары импортировали новую библиотеку
from numpy import array

data['casting']=data.cast.apply(lambda x: x.split('|')) #в новую колонку запишем актерский состав без разделителя
data['pairs']=data.casting.apply(lambda x: [pair for pair in combinations(x,2)]) #создали пары из списка актеров

common_pairs = []
for i in range(len(data.pairs)): #создали цикл, который проходит по всем строчкам отсортированного массива
    pair=data.pairs.iloc[i] #переменная с данными строки из массива
    common_pairs +=  pair #запишем результат в общий список 
# common_pairs
Counter(common_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [399]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'22': '2. 450',
 '23': '5. Peter Jackson',
 '20': '1. 2014',
 '24': '5. Four By Two Productions',
 25: '3. Midnight Picture Show',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '1. Ridley Scott',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '3. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '21': '4. Сентябрь',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [398]:
# и убедиться что ни чего не пропустил)
#!! 'ничего' тоже пишется слитно 
len(answers)

27